/* add css styles here (optional) */

.pravatar {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
}

.pravatar:before {
    content: attr(text);
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}